*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif,helvetica;
}

body{
    min-height: 120vh;
    background-color: whitesmoke;
}

header{
    background-color:#003755;
    min-height: 80px;
    display: flex;
    color: white;
    z-index: 10;
}

.categorias{
    margin: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.categorias ul{
    margin-left: 50px;
}

h1{
    margin: 20px;
    background-color: transparent;
}

.presentacion{
    display: flex;
}

.presentacion img{
    height: 70vh;
    width: 70vw;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0rem;
    z-index:-100;
}

.presentacion p{
    margin: 30px;
}

.texto{
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    background-color: honeydew;
    border-radius: 50px;
    border: 10px solid #003755;
}

.modelo{
}

#defaultCanvas0.p5Canvas{
    display:flex;
    margin-top: 50px!important;
    margin: 0 auto;
    border-radius: 10px;
    width: 690px!important;
    height: 500px!important;

}

button{
    font-size: 30px;
    margin-left: 45vw;
}

#label-container{
    margin-left: 45vw;
}

#canvas{
    display:flex;
    margin-top: 50px!important;
    border-radius: 10px;
    width: 400px!important;
    height: 400px!important;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #003755;
    min-width: 100vw;
    display: flex;
}

footer ul{
    color: white;
    margin:10px;
    margin-left: 30px;
}

.nombres{
    margin-left: 0px;
}

footer .descripcion{
    list-style: none;
    margin-right: 50px;
    margin-top: 0 auto;
    text-align: end;
}
